
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>User Roles Index</h2>


<p>@Html.ActionLink("Check User Roles", "GetUserRoles")</p>
<p>@Html.ActionLink("Add Role To User", "AddRoleToUser")</p>
<p>@Html.ActionLink("Delete User Roles", "DeleteUserRole")</p>

