@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Roles</h2>

<p>
    @Html.ActionLink("Create New Role", "Create")
    @*@Html.ActionLink("Manage User Role", "ManageUserRoles")*@
</p>

<table class="table" id="datatable">
    <thead>
        <tr>
            <th>Role Name</th>
            <th>Option</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>
                    @role.Name
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { roleName = role.Name }) |
                    @Html.ActionLink("Delete", "Delete", new { roleName = role.Name })
                </td>
            </tr>
        }
    </tbody>

    
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#datatable").dataTable();
        })
    </script>
}

