@{
    ViewBag.Title = "About";
}

<head>
    <style>
        h2 {
            text-align: center;
        }

        .bt {
            text-align: center;
        }

        .des {
            font-size: 18px;
            text-align: left;
        }
    </style>
</head>

<body>
    <h2>About Mental Health</h2>
    <div class="row">
        <div class="col-md-4">
            <h2>Anxiety</h2>
            <h3>Symptons</h3>
            <p class="des">
                The symptoms of anxiety conditions are sometimes not all that obvious as they often develop slowly over time and, given we all experience some anxiety at various points in our lives, it can be hard to know how much is too much.
            </p>
            <h3>Treatment</h3>
            <p class="des">
                For mild symptoms your health professional might suggest lifestyle changes, such as regular physical exercise and reducing your stress levels. You might also like to try online e-therapies, many of which are free, anonymous and easily accessible for anyone with internet access. Where symptoms of anxiety are moderate to severe, psychological and/or medical treatments are likely to be required.
            </p>
        </div>

        <div class="col-md-4">
            <h2>Depression</h2>
            <h3>Symptons</h3>
            <p class="des">
                not going out anymore<br />not getting things done at work/school<br />withdrawing from close family and friends<br />relying on alcohol and sedatives<br />not doing usual enjoyable activities
                <br />unable to concentrate
            </p>
            <h3>Treatment</h3>
            <p class="des">
                There's no one proven way that people recover from depression, and it's different for everyone. However, there are a range of effective treatments and health professionals who can help you on the road to recovery.
                <br />See more from<a href="https://www.beyondblue.org.au/the-facts/depression/treatments-for-depression"> here</a>
            </p>
        </div>

        <div class="col-md-4">
            <h2>Eating disorders</h2>
            <h3>Symptons</h3>
            <p class="des">
                weight loss, weight gain or weight fluctuation
                <br />preoccupation with body appearance or weight
                <br />sensitivity to cold
                <br />faintness, dizziness and fatigue
                <br />increased mood changes and irritability
                <br />social withdrawal
                <br />anxiety or depression
                <br />inability to think rationally or concentrate
                <br />increased interest in preparing food for others
            </p>
            <h3>Treatment</h3>
            <p class="des">
                Eating disorder treatment depends on your particular disorder and your symptoms. It typically includes a combination of psychological therapy (psychotherapy), nutrition education, medical monitoring and sometimes medications.Having an organized approach to eating disorder treatment can help you manage symptoms, return to a healthy weight, and maintain your physical and mental health.
            </p>
        </div>
    </div>
</body>

