@{
    ViewBag.Title = "Home Page";
}


<head>
    <style>
        #xuanchuan{
            width: 100%;
        }

        h2{
            text-align: center;
        }

        .bt{
            text-align:center;
        }

        .des{
            font-size: 18px;
            text-align:center;
        }
    </style>
</head>
<body>
    <div class="col-md-12">
        <img id="xuanchuan" src="https://p1.pxfuel.com/preview/233/266/532/mental-health-mental-wellness-mind-mindfulness.jpg" />
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Know more about mental health</h2>
            <p class="des">
                Do you want to know more about mental health? Click Learn more below.
            </p>
            <p class="bt"><a class="btn btn-default" href="./Home/About">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Hospital</h2>
            <p class="des">Do you want to know more about which hospital can treat mental health issue and the details of hopsitals? Click know more below.</p>
            <p class="bt"><a class="btn btn-default" href="./Hospitals/Index">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Hospital Booking</h2>
            <p class="des">Do you want to book a hospital? Click know more below.</p>
            <p class="bt"><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
    <img src="~/Resources/dontForget.PNG" />
</body>